{{> nav}}

<div id="profile-container">

  <div id="username">
    {{username}}
  </div>

  <div id="likes-container">
    <h3 class="section-title">Likes</h3>
    <hr>

    <input id="likes-input" type="text">
    <input type="button" id="likes-add" value="Add"></input>

    <ul>
      {{#each taste.likes}}
        <li><span class="content">{{this}}</span><span class="likes-remove">x</span></li>
      {{/each}}
    </ul>
  </div>

  <div id="dislikes-container">
    <h3 class="section-title">Dislikes</h3>
    <hr>

    <input id="dislikes-input" type="text">
    <input type="submit" id="dislikes-add" value="Add"></input>

    <ul >
      {{#each taste.dislikes}}
        <li><span class="content">{{this}}</span><span class="dislikes-remove">x</span></li>
      {{/each}}
    </ul>
  </div>

  <div id="restrictions-container">
    <h3 class="section-title">Dietary Restrictions</h3>
    <hr>

    <table id="allergies">
      <tr>
        <th>Y/N</th>
        <th>Allergies:</th>
      </tr>
      {{#each allergies}}
        <tr>
          <td>
            <input type=checkbox class="checkbox" value={{this}} {{#isChecked this ../taste/forbidden}}checked{{/isChecked}}>
          </td>
          <td>{{this}}</td>
        </tr>
      {{/each}}
    </table>
  </div>

</div>

{{> footer}}
