{{> nav}}

<div id="profile-container">

  <div id="username">
    {{username}}
  </div>

  <div id="likes-container">
    <input id="likes-input" type="text" placeholder="What do you like?">
    <ul>
      {{#each taste.likes}}
        <li><span class="content">{{toUpperCase this}}</span><span class="likes-remove"></span></li>
      {{/each}}
    </ul>
  </div>

  <div id="dislikes-container">
    <input id="dislikes-input" type="text" placeholder="What don't you like?">
    <ul >
      {{#each taste.dislikes}}
        <li><span class="content">{{toUpperCase this}}</span><span class="dislikes-remove"></span></li>
      {{/each}}
    </ul>
  </div>

  <div id="restrictions-container">
    <p id="restrictions-title">What can't you have?</p>
    <table id="allergies">
      {{#each allergies}}
        <tr>
          <td>
            <input type=checkbox class="checkbox" value={{this}} {{#isChecked this ../taste.forbidden}}checked{{/isChecked}}>
          </td>
          <td><span class="checkbox-name">{{this}}</span></td>
        </tr>
      {{/each}}
    </table>
  </div>

  <button id="btn_profile_recommend" >Recommend me dishes!</button>

</div>

{{> footer}}