{{> nav}}

<div id="profile-container">

  <div id="username">{{username}}</div>

  <div id="likes-container">
    <input id="likes-input" type="text" placeholder="What do you like?">
    <ul>
      {{#each taste.likes}}
        <li><span class="content">{{toUpperCase this}}</span><span class="likes-remove"></span></li>
      {{/each}}
    </ul>
  </div>

  <div id="dislikes-container">
    <input id="dislikes-input" type="text" placeholder="What don't you like?">
    <ul>
      {{#each taste.dislikes}}
        <li><span class="content">{{toUpperCase this}}</span><span class="dislikes-remove"></span></li>
      {{/each}}
    </ul>
  </div>

  <div id="restrictions-container">
    <div id="restrictions-possible-container">
      <p id="restrictions-possible-title">What can't you have?</p>
      <ul id="restrictions-possible">
        {{#each sources}}
          <li>
            {{#isChecked this ../taste.forbidden}}
              <span class="content keyword-forbidden">{{toUpperCase this}}</span>
              <span class="restrictions-unforbid-keyword"></span>
            {{else}}
              <span class="content keyword-not-forbidden">{{toUpperCase this}}</span>
              <span class="restrictions-forbid"></span>
            {{/isChecked}}
          </li>
            
        {{/each}}
      </ul>
    </div>

    <div id="restrictions-forbidden-container">
      <p id="restrictions-forbidden-title">Forbidden</p>
      <ul id="restrictions-forbidden">
        {{#each taste.forbidden}}
          <li>
            <span class="content">{{toUpperCase this}}</span>
            <span class="restrictions-unforbid-singleword"></span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <button id="btn_profile_recommend" >Recommend me dishes!</button>

</div>

{{> footer}}
